<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace 用于多个Mapper出现相同的sql时区分不同包-->
<!--动态代理方式,接口和mapper文件是对应的所以要指定对应的接口-->
<mapper namespace="com.nyf.dao.ProductDao">

    <!--sql的id 需要接口中的方法名称完全一致-->
    <select id="selectByID" parameterType="int" resultType="products">
        select * from products where  pid = #{pid}
    </select>

</mapper>